# bookstack/.dockerignore

# Ignorar el entorno virtual
venv/

# Ignorar caché de Python
__pycache__/
*.pyc

# Ignorar configuración de Git
.git/
.gitignore

# Ignorar configuración de VSCode (u otros IDEs)
.vscode/

# Ignorar archivos del OS
.DS_Store